* {
  margin: 0;
  padding: 0; }

*,
*::after,
*::before {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Mulish",sans-serif; }
  @media only screen and (max-width: 1024px) {
    html {
      font-size: 62.5%; } }
  @media only screen and (max-width: 768px) {
    html {
      font-size: 53%; } }
  @media only screen and (max-width: 600px) {
    html {
      font-size: 45%; } }
  @media only screen and (max-width: 350px) {
    html {
      font-size: 30%; } }

body {
  font-weight: 400;
  line-height: 1.6;
  min-height: 100vh;
  background-color: orangered; }

.logo {
  width: 12rem;
  height: 12rem;
  margin-top: .2rem; }
  @media only screen and (max-width: 600px) {
    .logo {
      width: 6em;
      height: 6em; } }

.text {
  font-size: 1.8rem;
  font-weight: 700; }
  .text__techno {
    text-transform: uppercase;
    color: #F64C72; }
  .text__fever {
    text-transform: uppercase;
    color: #553D67; }

.list {
  display: flex;
  list-style: none;
  width: 100%; }
  .list__item1 {
    font-weight: 400;
    color: #553D67;
    margin-right: 4.5rem;
    padding: .5rem;
    font-family: "open sans";
    font-size: 2rem;
    line-height: 175.7%; }
    @media only screen and (max-width: 600px) {
      .list__item1 {
        margin-right: .5rem; } }

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(/img/introbg.png);
  background-size: cover; }
  @media only screen and (max-width: 600px) {
    .intro .intro__part1 {
      width: 80%; }
    .intro .intro__part2 {
      width: 80%; } }
  .intro__part1 {
    font-size: 4.8rem;
    font-weight: 800;
    color: white;
    text-align: center;
    line-height: 6rem;
    width: 56.3rem;
    margin-top: 11.1rem; }
  .intro__part2 {
    font-family: 'open sans';
    font-size: 1.8rem;
    font-weight: 700;
    color: white;
    margin: 1.5rem 0;
    width: 49rem;
    text-align: center;
    line-height: 163.15%; }
  .intro__search {
    margin-bottom: 17.1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap; }
    .intro__search .input {
      padding: 1.6rem;
      width: 32rem;
      margin-right: 2rem;
      border: 2px solid #BBC8D4;
      border-radius: 4px; }
    .intro__search .input::placeholder {
      color: #BBC8D4; }
    .intro__search button {
      background-color: #F64C72;
      border: none;
      color: white;
      padding: 1.6rem 3.6rem;
      border-radius: 4px; }

.aboutus {
  grid-column: 1/-1;
  grid-row: 1/-2;
  background-color: white;
  width: 66%;
  margin: 0 auto;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  transform: translateY(-7rem);
  box-shadow: 0px 10px 15px rgba(126, 97, 97, 0.25); }
  @media only screen and (max-width: 1024px) {
    .aboutus {
      width: 80%; } }
  .aboutus .heading {
    font-size: 4.8rem;
    padding: 1.6rem;
    text-transform: uppercase;
    color: #553D67;
    margin-bottom: 2.6rem; }
  .aboutus .para {
    font-size: 1.8rem;
    color: #6D7D8B;
    width: 72%;
    margin: 1rem;
    border-bottom: 1px solid #545454;
    z-index: 1; }
    .aboutus .para .para1 {
      text-align: center; }
    .aboutus .para .para2 {
      text-align: center;
      margin: 1rem 0;
      padding-bottom: 2rem; }
  .aboutus .ticks {
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin-bottom: 8rem;
    z-index: 10; }
    @media only screen and (max-width: 425px) {
      .aboutus .ticks {
        width: 100%; } }
    .aboutus .ticks__tick1, .aboutus .ticks__tick2, .aboutus .ticks__tick3 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-transform: uppercase;
      color: #6D7D8B;
      font-family: 'open sans',sans-serif;
      transform: translateY(-3.2rem); }
    .aboutus .ticks .tickmatter {
      width: 70%;
      text-align: left;
      align-self: flex-end;
      font-size: 1.3rem; }
    .aboutus .ticks .tickmark {
      background-color: white; }

.about {
  align-items: center;
  text-align: center; }
  .about__box1, .about__box2, .about__box3 {
    background-color: white;
    align-self: stretch;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 3rem;
    z-index: 10;
    box-shadow: 0px 10px 15px rgba(6, 0, 0, 0.25); }
    .about__box1 .matter, .about__box2 .matter, .about__box3 .matter {
      font-weight: 400;
      font-size: 2.6rem;
      line-height: 33px;
      text-align: center;
      color: #553D67; }
    .about__box1 .submatter, .about__box2 .submatter, .about__box3 .submatter {
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 400;
      font-size: 1.8rem;
      line-height: 163.15%;
      /* or 29px */
      text-align: center;
      color: rgba(73, 92, 118, 0.7); }
  .about .svglogo {
    width: 7rem;
    height: 7rem; }

.achivements .achiv-heading {
  font-size: 4rem;
  color: white;
  font-weight: 700;
  line-height: 5rem;
  margin-top: 7rem; }

.achivements .achiv-matter {
  color: white;
  font-size: 1.8rem;
  width: 50%;
  text-align: center;
  margin: 2rem; }

.achivements .achiv-numbers {
  display: flex;
  width: 60%;
  justify-content: space-around; }
  .achivements .achiv-numbers .working {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 2rem; }
    .achivements .achiv-numbers .working__number {
      font-weight: 700;
      font-size: 4rem;
      line-height: 5rem;
      color: white; }
    .achivements .achiv-numbers .working__text {
      text-transform: uppercase;
      color: white;
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 400;
      font-size: 1.4rem;
      line-height: 150.6%; }

.whatwedo {
  text-align: center; }
  .whatwedo .gridheading {
    grid-column: 1/-1;
    margin: 0 auto;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 4.8rem;
    line-height: 6rem;
    color: #553D67;
    margin-bottom: 2rem; }
  .whatwedo .underline {
    border-bottom: 2px solid #F64C72; }
  .whatwedo .icon {
    width: 10rem;
    height: 12rem; }
  .whatwedo .components {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: .5rem;
    margin: 1rem;
    background-color: white;
    box-shadow: 0px 10px 15px rgba(101, 90, 90, 0.25); }
    .whatwedo .components .comphead {
      color: #553D67;
      font-size: 2.6rem;
      line-height: 3.3rem;
      font-weight: 400;
      margin: .5rem 0; }
    .whatwedo .components .compmatter {
      color: rgba(73, 92, 118, 0.7);
      font-size: 1.8rem;
      font-weight: 400;
      line-height: 2.9rem;
      width: 80%; }

.mission {
  background-color: #F64C72;
  color: white;
  text-align: center; }
  .mission .missionphoto {
    width: 100%;
    height: 100%; }
  .mission .missioninfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .mission .missioninfo .missionheading {
      font-size: 4rem;
      line-height: 5rem;
      font-weight: 700;
      text-transform: uppercase;
      margin: 2rem; }
    .mission .missioninfo .missionpara1, .mission .missioninfo .missionpara2 {
      font-weight: 600;
      padding: 2rem 4rem;
      font-size: 1.8rem;
      line-height: 2.9rem;
      width: 80%; }
    .mission .missioninfo .missionbutton {
      background-color: #F64C72;
      font-size: 1.6rem;
      color: white;
      outline: none;
      padding: 2rem 5.5rem;
      border: 1px solid white;
      margin-bottom: 2rem; }

.meetheading {
  grid-column: 1/-1;
  margin: 0 auto;
  margin-bottom: 2rem;
  text-transform: uppercase;
  font-size: 4.8rem;
  font-weight: 400;
  line-height: 6rem;
  color: #553D67; }
  @media only screen and (max-width: 1024px) {
    .meetheading {
      font-size: 4em; } }
  @media only screen and (max-width: 450px) {
    .meetheading {
      font-size: 3em; } }

.profile {
  margin: 2rem;
  background-color: white;
  border-radius: .8rem;
  box-shadow: 0px 10px 15px rgba(101, 90, 90, 0.25); }
  .profile .photo {
    width: 100%; }
  .profile .name {
    color: #553D67;
    font-weight: 600;
    font-size: 2.4rem;
    line-height: 3rem;
    line-height: 2.1rem;
    margin: 0 1rem;
    margin-top: .5rem; }
  .profile .position {
    color: #6D7D8B;
    font-size: 1.4rem;
    font-size: 600;
    margin: 0rem 1rem;
    margin-bottom: 1.3rem; }
  .profile .desc {
    color: #697694;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 163.15%;
    margin: 0 1rem;
    padding-bottom: 4rem; }

.underline {
  border-bottom: 2px solid #F64C72; }

.next__name {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 2.1rem;
  margin-right: .5rem;
  color: #553D67; }

.feedback {
  margin: 2rem;
  background-color: white;
  box-shadow: 0px 10px 15px rgba(101, 90, 90, 0.25);
  display: flex;
  flex-direction: column;
  padding: 2rem; }
  .feedback .feedmatter {
    color: #6D7D8B;
    font-size: 1.8rem;
    margin: 1rem 0;
    font-weight: 400;
    line-height: 163.15%; }
  .feedback .user {
    display: flex;
    align-items: center;
    margin-top: auto; }
    .feedback .user__photo {
      width: 10%rem;
      margin-right: .5rem; }
    .feedback .user__info .name {
      font-size: 1.8rem;
      font-weight: 600;
      line-height: 163.15%;
      color: #6D7D8B; }
    .feedback .user__info .designation {
      font-size: 1.4rem;
      color: #6D7D8B;
      font-weight: 400;
      line-height: 150.6%; }

.work .workheading {
  font-size: 4.8rem;
  color: white;
  font-weight: 600;
  line-height: 6rem;
  text-transform: uppercase; }
  @media only screen and (max-width: 600px) {
    .work .workheading {
      font-size: 4em; } }

.work .workpara {
  color: white;
  font-weight: 400;
  font-size: 2rem;
  line-height: 163.15%;
  margin: 3rem;
  text-align: center;
  width: 60%; }
  @media only screen and (max-width: 600px) {
    .work .workpara {
      width: 70%; } }

.work .workemail {
  padding: 1.6rem;
  width: 32rem;
  margin-right: 2rem;
  border: 2px solid #BBC8D4;
  border-radius: 4px; }

.work .workemail::placeholder {
  color: #BBC8D4; }

.foot {
  margin: 3rem 4rem; }
  @media only screen and (max-width: 425px) {
    .foot {
      margin: 1em 1em; } }
  .foot .copyright {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 150.6%;
    color: #553D67;
    margin-right: auto; }
  .foot .image {
    margin-right: 2rem; }
    @media only screen and (max-width: 425px) {
      .foot .image {
        width: 2em; } }

.container {
  display: grid;
  width: 100%;
  background-color: white;
  grid-template-columns: 100%;
  grid-template-rows: repeat(10 autofit); }

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white; }

.about {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  justify-content: center; }
  @media only screen and (max-width: 768px) {
    .about {
      grid-template-columns: 1fr; } }

.achivements {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #F64C72;
  padding-top: 7rem;
  padding-bottom: 5rem;
  margin-top: -6rem;
  z-index: 1; }

.whatwedo {
  display: grid;
  width: 80%;
  grid-gap: 2rem;
  grid-template-columns: repeat(3, 33.33%);
  margin: 10rem auto; }
  @media only screen and (max-width: 1024px) {
    .whatwedo {
      grid-template-columns: repeat(2, 1fr); } }
  @media only screen and (max-width: 768px) {
    .whatwedo {
      grid-template-columns: 1fr; } }

.mission {
  display: grid;
  grid-template-columns: repeat(2, 1fr); }
  @media only screen and (max-width: 1200px) {
    .mission {
      grid-template-columns: 1fr; } }

.team {
  display: grid;
  width: 95%;
  margin: 10rem auto;
  margin-bottom: 3rem;
  grid-template-columns: 25% 25% 25% 25%; }
  @media only screen and (max-width: 1024px) {
    .team {
      grid-template-columns: repeat(2, 1fr); } }
  @media only screen and (max-width: 768px) {
    .team {
      grid-template-columns: 1fr; } }

.next {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 14rem;
  margin-bottom: 3rem; }
  @media only screen and (max-width: 1024px) {
    .next {
      margin-right: 8rem; } }
  @media only screen and (max-width: 600px) {
    .next {
      margin-right: 5rem; } }

.arrows {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 14rem;
  margin-bottom: 10rem; }
  .arrows .firstarr {
    margin-right: 1.5rem; }
  @media only screen and (max-width: 1024px) {
    .arrows {
      margin-right: 8rem; } }
  @media only screen and (max-width: 600px) {
    .arrows {
      margin-right: 5rem; } }

.peoplesay {
  display: grid;
  width: 95%;
  margin: 4rem auto;
  grid-template-columns: 25% 25% 25% 25%; }
  @media only screen and (max-width: 1024px) {
    .peoplesay {
      grid-template-columns: repeat(2, 1fr); } }
  @media only screen and (max-width: 768px) {
    .peoplesay {
      grid-template-columns: 1fr; } }

.work {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #F64C72;
  padding-top: 5rem;
  padding-bottom: 5rem; }

.foot {
  display: flex;
  align-items: center; }
